    

    

    

    

    

    






    

    



    
.contacts {   
font-style: normal;
margin-left: auto;
}
    


.contacts-link:hover,
.contacts-link:focus, 
.nav-link:hover,
.nav-link:focus, 
.nav-link.current {
letter-spacing: 0.02em;
color: #404bbf;
}
    
.section-portfolio,
.section-features,
.section-team {
padding: 120px 0;
}



    

    


 

