body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}
    
img {
display: block;
}
    
h1,h3 {
color: #2E2F42;
}
    
h1, h2, h3, h4, h5, h6, p, ul {
margin: 0;
padding:0;
list-style: none;
}
    
.page-header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
background: #fff;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
}
    
.header-container {
display: flex;
align-items: center;
}
    
.header-nav {
display: flex;
align-items: center;
}

a {
text-decoration: none;
letter-spacing: 0.03em;
}
    
.container{
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
    
.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
text-decoration: none;
padding: 24px 0;
margin-right: 76px;
}
    
.logo-part {
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #2e2f42;
line-height: 1.17;
}
    
.footer-logo .logo-part {
color: #f4f4fd;
line-height: 1.17;
letter-spacing: 0.02em;
}
    
.nav-list {   
display: flex;
align-items: center;
list-style: none;
gap: 40px;
}
    
.nav-link {   
display: block;
padding: 24px 0;
font-size: 16px;
letter-spacing: 0.02em;
font-weight: 500;
line-height: 1.5;
color:  #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.nav-link.current {
position: relative;
}

.nav-link.current::after {
content: "";    
position: absolute;
left: 0;
bottom: -1px;    
width: 100%;
height: 4px;
border-radius: 2px;
background-color: #404bbf;
}
    
    
.contacts {   
font-style: normal;
margin-left: auto;
}
    
.contacts-list {
display: flex;
align-items: center;
gap: 40px;
}
    
.contacts-link { 
display: block;
padding: 24px 0;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.contacts-link:hover,
.contacts-link:focus, 
.nav-link:hover,
.nav-link:focus, 
.nav-link.current {
letter-spacing: 0.02em;
color: #404bbf;
}
    
.section-portfolio,
.section-features,
.section-team {
padding: 120px 0;
}

.section-main {
background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/people-office-min.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 1440px;
margin: 0 auto;
padding: 188px 0;
text-align: center;
}
    
.main-container {
width: 100%;
max-width: 1128px;
margin: 0 auto;
padding: 0 15px;
}
    
.main-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #ffffff;
max-width: 496px;
margin: 0 auto 48px;
}
    
.main-button {
font-size: 16px;
font-weight: 500;
color: #ffffff;
background-color: #4d5ae5;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none;
cursor: pointer;
display: inline-block;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.main-button:hover,
.main-button:focus {
background-color: #404bbf;
}
    
ul {
list-style: none;
padding: 0;
margin: 0;
}
    
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
    
.section-features 
{
padding: 120px 0;
}
    
.feature-icon-container {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
border: 1px solid #8e8f99;
margin-bottom: 8px;
}
    
.features-list {
list-style: none;  
display: flex;
flex-wrap: nowrap;
gap: 24px;    
}
    
.feature-item {
width: calc((100% - 72px) / 4);
}
    
.feature-icon {
display: block;
margin: 0 auto 10px; 
border-radius: 4px;
background: #f4f4fd;
}
    
.feature-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
    
.feature-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
} 
    
.section-team {   
background-color: #F4F4FD;
padding: 120px 0;
flex-wrap: nowrap;
width: 100%;
}
    
.team-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px; 
}
    
.team-list {
display: flex;
gap: 24px;
flex-direction: row;
justify-content: center;
}
    
.team-item {
border-radius: 0px 0px 4px 4px;
text-align: center;
width: calc((100% - 3 * 24px) / 4);
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}
    
.team-content {
padding: 32px 0;
border: 1px solid #e7e9fc;
border-top: none;
}
    
.team-title-small {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
    
.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 8px;
}
    
.social-list {
display: flex;
justify-content: center;
gap: 24px;
}

    
.social-item a {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: var(--primary-color, #4d5ae5);
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.social-item a:hover, 
.social-item a:focus {
background-color: #404bbf;
}
    
.social-icon {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
fill: #FFFFFF;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.section-portfolio {
padding: 120px 0;
}
    
.container-portfolio {
position: relative;
overflow: hidden;
width: 1128px;
margin: 0 auto;
padding: 0 15px;
}
    
.portfolio-main-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
    
.portfolio-list {
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 24px;
row-gap: 48px;
padding: 0;
margin: 0;
height: 100%;
}
    
.portfolio-item {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.portfolio-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                    0px 1px 1px rgba(46, 47, 66, 0.16),
                    0px 2px 1px rgba(46, 47, 66, 0.08);
}
    
.portfolio-item:hover .portfolio-overlay-text {
transform: translateY(0%);
}
    
.portfolio-overlay {
position: relative;
overflow: hidden;
}
    
.portfolio-overlay-text {
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.portfolio-item img {
width: 100%;
height: auto;
display: block;
}
    
.portfolio-content {
border: 1px solid #e7e9fc;
border-top: none;
padding: 32px 16px;
}
    
.portfolio-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 8px;
}
    
.portfolio-title-small {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
    
.page-footer {
background-color: #2e2f42;
padding: 100px 0;
    
}

.footer-container {
display: flex;
align-items: baseline;
justify-content: space-between;
max-width: 1158px;
margin: 0 auto;
padding: 0 15px;
}

.footer-middle {
display: flex;
align-items: baseline;
gap: 80px;
}

.footer-content {
margin-right: 120px;
flex: 0 0 auto;
}

.footer-logo {
display: inline-block;
margin-bottom: 16px;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
text-decoration: none;
}

.footer-logo-part {
color: #f4f4fd;
}

.footer-text {
max-width: 264px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.social-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;
}

.footer-social {
margin-right: 80px;
flex: 0 0 auto;
}

.social-list-footer {
display: flex;
gap: 16px;
list-style: none;
padding: 0;
margin: 0;
}

.social-item {
width: 40px;
height: 40px;
}

.social-link-footer {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover .social-link-footer,
.social-item:focus-within .social-link-footer {
  background-color: #31d0aa;
}

.social-icon {
fill: #f4f4fd;
}
.footer-form {
flex: 0 0 auto;
min-width: 453px;
}

.form-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;
}

.subscribe-form {
display: flex;
gap: 24px;
}

.form-label { 
display: block;
margin-bottom: 4px;
}

.subscribe-input {
width: 264px;
height: 40px;
padding: 8px 16px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
background-color: transparent;
border: 1px solid #ffffff;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
outline: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
border-color: #4d5ae5;
}

.subscribe-button {
display: flex;
align-items: center;
justify-content: center;
min-width: 165px;
height: 40px;
padding: 8px 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4d5ae5;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
background-color: #404bbf;
}

.subscribe-icon {
margin-left: 16px;
fill: currentColor;
}

:root {
  --icon-checked-color: #F4F4FD;
  --checkbox-checked-bg: #404BBF;
  --link-color: #4d5ae5;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14),
              0 1px 3px rgba(0, 0, 0, 0.12),
              0 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-field {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.last-field {
  margin-bottom: 16px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-input,
.form-textarea {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  height: 40px;
  padding-left: 38px;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #4D5AE5;
  color: #2E2F42;
}

.form-textarea {
  height: 120px;
  padding: 8px 16px;
  font: 400 12px/1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
}

.form-textarea::placeholder {
  font: inherit;
  color: rgba(46, 47, 66, 0.4);
}

.form-textarea:not(:placeholder-shown) {
  color: #2E2F42;
}

.input-wrapper:focus-within .form-icon {
  fill: #4D5AE5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.checkbox-custom {
  display: inline-flex; /* Для центрування іконки всередині span */
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  margin-bottom: 24px;
}

.checkbox-label {
  align-items: center;
  font: 400 12px/1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  user-select: none;
}

.checkbox-icon {
  fill: #F4F4FD;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-label .checkbox-custom {
  background-color: var(--checkbox-checked-bg);
  border: none;
  fill: var(--icon-checked-color); 
}

.checkbox-input:checked + .checkbox-label .checkbox-icon {
  fill: var(--icon-checked-color);
  opacity: 1;
}

.privacy-link {
  font: 400 12px/1.34 "Roboto", sans-serif;
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.form-submit-btn {
  display: block;
  justify-content: center;
  align-items: center;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #404bbf;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #fff;
}
